@model FreelancerProject.Dto.Product.ProductCreateUpdateDto
@{
    ViewData["Title"] = "Create Product";
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2>Create Product</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="Name">Name:</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Enter name">
        </div>
        <br />

        <div class="form-group">
            <label for="Email">Price:</label>
            <input type="number" min="1" class="form-control" id="Email" asp-for="Price" placeholder="Enter Price">
        </div>
        <br />

        <div class="form-group">
            <label asp-for="ImageFile">Image:</label>
            <input type="file" class="form-control" asp-for="ImageFile" placeholder="Choose File">
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Description">Description:</label>
            <textarea row="3" class="form-control" asp-for="Description" placeholder="Enter Description"></textarea>
        </div>
        <br />

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

@section Scripts{
}